{% extends 'users/base.html'%} {% block content%}
<h2 style="text-align: center;"><strong>Learning Management System(LMS)</strong></h2>
<p>A learning management system is a software for educational institutions to track reporting, training programs, automation and delivery of educational courses, learning & development programs, maintain classroom activities records, create the best syllabus, teaching plans, and online assessments to maximize students' learning outcomes.

   <br><br><br> Learning has shifted from Life Long to Life Wide Learning. The ‘new’ educational landscape demands a ‘new’ version of teaching-learning methodologies where teachers can perform exam analysis and goal output analysis & plan appropriate teaching syllabus and help students learn at their own pace, communicate with them at any time, and plan their studies for achieving their goals.
    
    However, leveraging edTech to make the digital shift & attain the best student outcomes is not a hassle-free process. During the transition, most of the educators find it difficult to structure the crucial classroom teaching-learning practices</p>
    <br>
    

{%endblock content%}
